@import '../../../general.scss';

.planCard {
    display: flex;
    height: 9rem;
    width: 15rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $d-16;

    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px $gray71;
    background-color: $white;

    &:hover {
        opacity: 0.6;
    }

    & .planCardIcon {
        color: $strongRed;
    }

    & .planCardTitle {
        color: $lividBrown;
        font-family: $Exo2SemiBold;
        font-size: $font-20;
    }
}
