@import '../../general.scss';

.planScreen {
    display: flex;

    padding-top: $d-16;

    justify-content: center;

    & .plansSection {
        background-color: chocolate;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 45vw;
    }
}
