@import '../../general.scss';

.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
    flex: 1;
    height: $d-120;
    min-width: 20vw;
    background-color: $white;
    padding-top: $d-16;
    padding-left: $d-32;
    padding-right: $d-32;

    & .menu {
        display: flex;
        flex: 2;
        justify-content: left;
        align-items: center;
        background-color: $eerieBlack;
        padding-left: $d-32;
        border-top-left-radius: $d-8;
        border-top-right-radius: $d-8;

        & .menuRow {
            display: flex;
            flex-direction: row;

            & .menuOption a {
                font-family: $Exo2SemiBold;
                font-size: $font-24;
                margin-right: $d-24;
                color: $white;
            }
        }
    }

    & .goBackSection {
        display: flex;
        flex: 1;
        justify-content: left;
        align-items: center;
        padding-left: $d-32;
        background-color: $white;

        & .arrowBackText {
            font-size: $font-16;
            font-family: $Exo2SemiBold;
        }

        & .arrowBack {
            color: $strongRed;
        }
    }

    & .emptyGoBackSection {
        display: flex;
        flex: 1;
        background-color: $white;
    }
}
