@import '../../../general.scss';

.cardModal {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .cardTitle {
        font-family: $Exo2SemiBold;
        font-size: $font-24;
        color: $gray30;
    }

    & .cardPrice {
        font-family: $Exo2Light;
        font-size: $font-20;
        color: $lividBrown;
        margin-top: $d-16;
    }

    & .cardModalValues {
        margin-top: $d-16;

        & .cardModalRow {
            margin-top: $d-8;
            font-family: $Exo2Regular;

            & .highlight {
                font-family: $Exo2SemiBold;
            }
        }
    }

    & .cardModalFooter {
        margin-top: $d-24;

        & .cardModalButton {
            color: $strongRed;
            font-family: $Exo2SemiBold;
            font-size: $font-20;
        }
    }
}
