@import '../../general.scss';

.aboutScreen {
    display: flex;
    flex-direction: column;
    padding-top: $d-16;
    align-items: center;
    justify-content: center;
    padding-left: $d-32;
    padding-right: $d-32;

    & .screenTitle {
        font-size: $d-32;
        color: $eerieBlack;
        font-family: $Exo2SemiBold;
        margin-bottom: $d-32;
    }

    & .screenContent {
        & .aboutProjectInfo {
            margin-bottom: $d-24;
        }
    }
}
